@charset "CP850";
/* ==|====================

   -------INDEX--------
   #Particials
   #Modules
   ======================= */
/* #Particials
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/*----------Indice-------------
		#font-size
*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Verdana, sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  padding: 0;
  margin: 0; }

a {
  color: #ececec;
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

h2 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-size: 4rem;
  line-height: 120%;
  color: #ff8f00; }

h3 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-size: 3.6rem; }

h4 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-size: 2.2rem; }

h5 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-size: 1.8rem; }

p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0; }

iframe {
  float: right;
  height: 160px;
  margin-top: 9px;
  vertical-align: top;
  width: 100%; }
  @media (min-width: 480px) {
    iframe {
      height: 30rem;
      width: 50%; } }

svg {
  margin-right: 15px;
  margin-top: 11px;
  vertical-align: top; }
  svg:hover {
    border-bottom: none; }

.icon {
  width: 19%; }

.icon-social-facebook {
  cursor: pointer;
  fill: #4966a7;
  height: 40px;
  width: 15%; }

.icon-social-twitter {
  cursor: pointer;
  fill: #17b3e8;
  height: 40px;
  width: 15%; }

.icon-social-vimeo {
  cursor: pointer;
  fill: #17b3e8;
  height: 40px;
  width: 15%; }

.icon-facebook {
  cursor: pointer;
  fill: white;
  height: 40px;
  width: 5%; }

.icon-vimeo {
  cursor: pointer;
  fill: white;
  height: 40px;
  width: 5%; }

.triangle-link-white, .triangle-link-ddw, .triangle-link-curse, .program-button:hover .triangle-link-ddw, .generations-intro-button:hover .triangle-link-anuario, .triangle-link-anuario, .play-video {
  display: inline-block;
  margin-left: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 13.0px;
  border-color: transparent transparent transparent white; }

.triangle-link-white {
  border-color: transparent transparent transparent white; }

.triangle-link-ddw {
  border-color: transparent transparent transparent #922716;
  position: absolute; }

.triangle-link-curse {
  border-color: transparent transparent transparent #00c9ed; }

.triangle-download-white, .triangle-download-blue, .triangle-download-ddw, .triangle-download-curse, .program-button:hover .triangle-download-ddw {
  display: inline-block;
  margin-left: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: white transparent transparent transparent; }

.triangle-download-white {
  border-color: white transparent transparent transparent; }

.triangle-download-blue {
  border-color: #00c9ed transparent transparent transparent; }

.triangle-download-ddw {
  border-color: #922716 transparent transparent transparent; }

.triangle-download-curse {
  border-color: #00c9ed transparent transparent transparent; }

/* #Modules
   ========================================================================== */
.modules-standart {
  max-width: 1280px;
  padding: 10rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative; }
  @media (min-width: 480px) {
    .modules-standart {
      padding: 10rem 1rem;
      margin: 0 auto;
      border-bottom: 1px #b2b2b2 solid; } }

.modules-total {
  padding: 10rem 1;
  margin: 0 1rem;
  overflow: hidden;
  position: relative; }
  @media (min-width: 480px) {
    .modules-total {
      padding: 10rem 0rem;
      margin: 0 auto;
      border-bottom: 1px #b2b2b2 solid; } }

.title-section {
  max-width: 1280px;
  color: #848286;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-size: 3.2rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  text-align: left; }

.max-width-content {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0; }

.width-column-left {
  margin: 2rem 0; }
  @media (min-width: 880px) {
    .width-column-left {
      margin-top: 0;
      float: left;
      vertical-align: top;
      width: 40%; } }

.width-column-right {
  margin-top: 0;
  float: right;
  vertical-align: top;
  width: 55%; }

/* ==|====================
   Partials/Modules/Buttons

   -------INDEX--------
   #Button
   #Career Program
   #Generations
   #Form
   #Play Video
   #Footer
   #Egresados
   ======================= */
/* #Button
   ========================================================================== */
.button {
  background: none;
  padding: 15px 40px;
  transition: 0.2s;
  font-size: 18px;
  font-size: 1.8rem;
  position: relative;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

/* #Career Program
   ========================================================================== */
.program-button {
  background-color: white;
  border: 1px solid #922716;
  color: #922716;
  display: block;
  height: 50px;
  line-height: 15px;
  margin: 25px auto;
  width: 80%; }
  .program-button:hover {
    background-color: #922716;
    color: white;
    transition: 0.2s; }
    .program-button:hover .triangle-link-ddw {
      border-color: transparent transparent transparent white;
      transition: 0.2s; }
    .program-button:hover .triangle-download-ddw {
      border-color: white transparent transparent transparent;
      transition: 0.2s; }

.download-program-button {
  color: white;
  margin-bottom: 10px; }

/* #Generations
   ========================================================================== */
.generations-intro-button {
  border: 2px solid #848286;
  color: #848286;
  margin-top: 20px; }
  .generations-intro-button:hover {
    color: white;
    background-color: #848286; }
    .generations-intro-button:hover .triangle-link-anuario {
      border-color: transparent transparent transparent white; }

.triangle-link-anuario {
  border-color: transparent transparent transparent #848286; }

/* #Form
   ========================================================================== */
.inscription-button {
  background-color: transparent;
  border: 1px solid #00c9ed;
  font-weight: bold;
  color: #00c9ed;
  position: absolute;
  top: 0;
  left: 9%;
  outline: none;
  transform-style: preserve-3d;
  transition: transform 1s; }
  .inscription-button:hover {
    background-color: #00acea;
    color: white; }

.upload-button {
  background-image: url(../img/upload.png);
  border: 1px solid #243842;
  background-position: 14px 18px;
  background-repeat: no-repeat;
  color: #243842;
  display: block;
  margin-top: 8px; }
  .upload-button:hover {
    background: url(../img/upload-hover.png);
    background-color: #243842;
    color: white;
    background-position: 14px 18px;
    background-repeat: no-repeat; }

.send-button {
  border: 1px solid #00c9ed;
  color: #00c9ed;
  display: block; }
  .send-button:hover {
    background-color: #00acea;
    color: white; }

/* #Play Video
   ==========================================================================
 * buttons of play of description generation and description video
 */
.play-video-wrap {
  border-radius: 800%;
  border: 3px solid #ff8f00;
  cursor: pointer;
  display: inline-block;
  height: 62px;
  margin-top: 40px;
  position: relative;
  width: 15%; }

.play-video {
  display: block;
  border-width: 12px 0 12px 18.6px;
  border-color: transparent transparent transparent #ff8f00;
  text-indent: -10000%;
  position: absolute;
  left: 19%;
  top: 14px; }

/* #Footer
   ========================================================================== */
.footer-list-items-button {
  font-size: 12px;
  font-size: 1.2rem;
  background: none;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  font-family: "Open Sans", sans-serif;
  margin: 0.5rem auto;
  margin-right: 8px;
  min-height: 35px;
  padding: 12px 12px;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  width: 80%; }
  @media (min-width: 980px) {
    .footer-list-items-button {
      width: 38%; } }
  .footer-list-items-button:hover {
    background: white;
    color: #292929; }

/* #Egresados
   ==========================================================================
 * List of graduate
 */
.graduate-list-profile-info-link {
  border: 1px solid #405C6A;
  color: #405C6A;
  float: left;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  padding: 6px 16px;
  right: 0;
  top: 35px; }
  .graduate-list-profile-info-link:hover {
    background-color: #243842;
    color: white;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

@media (min-width: 880px) {
  .container-title {
    display: inline-block;
    vertical-align: top;
    float: left;
    width: 40%; } }

@media (min-width: 880px) {
  .container-text {
    float: right;
    vertical-align: top;
    width: 55%; } }
.container-text p {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #848286; }
  @media (min-width: 320px) {
    .container-text p {
      margin-top: 9px; } }

.backgrund-container-list {
  background-color: #243842;
  background-color: #243842;
  padding: 100px 0;
  width: 100%; }

.content-list {
  width: 100%; }

.content-list-grid {
  display: inline-block;
  margin-right: 83px;
  vertical-align: top;
  width: 45%; }
  .content-list-grid:last-child {
    margin-right: 0; }

.item-grid {
  color: white;
  list-style: none;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 10px; }
  .item-grid:before {
    content: "• ";
    color: #00c9ed;
    font-size: 22px;
    float: left;
    margin-right: 11px; }

.generations-intro {
  display: block;
  margin-top: 40px;
  overflow: hidden; }
  @media (min-width: 880px) {
    .generations-intro {
      float: left;
      margin-top: 65px;
      vertical-align: top;
      width: 30%; } }

.generations-video {
  float: right;
  width: 62%;
  position: relative;
  overflow: hidden;
  height: 400px; }
  .generations-video iframe {
    width: 100%;
    height: 400px; }
  .generations-video .video-information {
    height: 400px;
    position: absolute;
    overflow: hidden;
    top: 0;
    width: 100%; }
    .generations-video .video-information img {
      width: 100%; }
  .generations-video .reel-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    height: 400px;
    width: 100%;
    padding: 80px 123px;
    text-align: center; }
    .generations-video .reel-overlay h3 {
      color: white;
      font-size: 26px;
      font-size: 2.6rem;
      font-family: "Montserrat", sans-serif;
      margin-bottom: 20px; }
    .generations-video .reel-overlay p {
      font-size: 14px;
      font-size: 1.4rem;
      color: white; }

.background-total {
  width: 100%;
  background-color: #BE1D2C;
  padding: 0px;
  position: relative; }

.testimonial {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 24px; }

.testimonial-img {
  border-radius: 50%;
  box-shadow: 0px 4px 7px -2px #848286;
  position: absolute;
  top: -12%;
  width: 215px;
  z-index: 1; }

.testimonial-contenido {
  color: #848286;
  width: 58%;
  overflow: hidden;
  float: left;
  margin-left: 32px; }
  .testimonial-contenido p {
    color: white;
    padding-top: 3px;
    font-family: "Open Sans", sans-serif; }

.personal-info-testimonial {
  float: left;
  text-align: left;
  margin-top: 10px; }
  .personal-info-testimonial h3 {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: lighter;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 3px; }
  .personal-info-testimonial span {
    font-size: 12px;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    color: white; }

.icon-comillas {
  width: 8%;
  margin-left: 221px;
  margin-top: 19px; }
  .icon-comillas:last-child {
    margin-left: 0; }

.comillas-left {
  float: left; }

.comillas-right {
  float: right; }

.container-career {
  padding: 0;
  width: 100%; }

.career-intro-text {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  margin: 2rem 0;
  margin-top: 7px;
  color: #848286; }

.career-video {
  float: right;
  width: 50%;
  position: relative; }
  .career-video iframe {
    width: 100%;
    max-height: 330px; }
  .career-video .video-information {
    height: 330px;
    position: absolute;
    overflow: hidden;
    top: 0;
    width: 100%; }
    .career-video .video-information img {
      max-height: 100%;
      min-width: initial;
      width: 100%; }
  .career-video .reel-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    height: 330px;
    width: 100%;
    padding: 65px 80px;
    text-align: center; }
    .career-video .reel-overlay h3 {
      color: white;
      font-size: 21px;
      font-size: 2.1rem;
      font-family: "Montserrat", sans-serif;
      margin-bottom: 20px; }
    .career-video .reel-overlay p {
      font-size: 14px;
      font-size: 1.4rem;
      color: white; }

.personal-list {
  width: 100%;
  text-align: center; }

.personal-link-container {
  display: inline-block;
  background-color: #fff;
  line-height: 3rem;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  text-align: center; }
  .personal-link-container img {
    float: left;
    width: 3rem;
    margin: 0 1rem; }

.personal-list-border {
  border: solid 2px #b2b2b2;
  padding: 1rem; }

.personal-list-items {
  display: inline-block;
  margin: 0;
  position: relative;
  height: 43rem;
  vertical-align: top; }
  @media (min-width: 319px) {
    .personal-list-items {
      width: 80%;
      margin: 40px 10%; } }
  @media (min-width: 480px) {
    .personal-list-items {
      width: 41%;
      margin: 5rem 4%; } }
  @media (min-width: 680px) {
    .personal-list-items {
      width: 30%;
      margin: 5rem 5%; } }
  @media (min-width: 980px) {
    .personal-list-items {
      width: 20%;
      margin: 0;
      margin-right: 5%; }
      .personal-list-items:last-child {
        margin-right: 0; } }
  .personal-list-items .personal-list-items-title {
    color: #848286;
    display: inline-block;
    padding: 2rem 0 0 0; }
  .personal-list-items p {
    font-size: 12px;
    font-size: 1.2rem;
    color: #292929;
    font-family: "Open Sans", sans-serif;
    margin: 10px 0;
    text-align: left; }
    @media (min-width: 320px) {
      .personal-list-items p {
        width: 99%; } }
    @media (min-width: 680px) {
      .personal-list-items p {
        width: 100%; } }
  .personal-list-items .charge {
    font-size: 13px;
    font-size: 1.3rem;
    background-color: #ececec;
    border-radius: 5px;
    color: #505050;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    height: 45px;
    margin: 21px 0;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    text-align: center; }
  .personal-list-items .border-personal {
    border-bottom: 1px solid #b2b2b2;
    display: block;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 2rem; }
  .personal-list-items a {
    font-size: 14px;
    font-size: 1.4rem;
    font-family: "Open Sans", sans-serif; }
    @media (min-width: 319px) {
      .personal-list-items a {
        display: block;
        height: 32px;
        padding-top: 6px; } }
    @media (min-width: 680px) {
      .personal-list-items a {
        display: inline-block;
        padding: 3px; } }
    .personal-list-items a:nth-of-type(1) {
      border-right: solid 2px #b2b2b2;
      color: #4c67a1; }
      @media (min-width: 680px) {
        .personal-list-items a:nth-of-type(1) {
          border: none;
          border-right: solid 1px #b2b2b2;
          padding-right: 8px; } }
    .personal-list-items a:nth-of-type(2) {
      color: #55acee; }
      @media (min-width: 680px) {
        .personal-list-items a:nth-of-type(2) {
          border: none; } }

.image-personal {
  border-radius: 50%;
  box-shadow: 0px 4px 7px -2px #848286;
  width: 58%; }

.course-intro p {
  font-size: 16px;
  font-size: 1.6rem;
  color: #848286;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1px; }
.course-intro span {
  color: #292929;
  font-weight: bold; }

.course-intro-title {
  color: #00c9ed;
  margin: 0; }

.course-intro-text {
  font-size: 16px;
  font-size: 1.6rem;
  color: #848286;
  font-family: "Open Sans", sans-serif;
  margin-top: 21px; }

.course-intro-details {
  margin-top: 15px; }

.course-image {
  float: right;
  box-shadow: 0 0 8px #848286;
  height: 389px;
  width: 70%; }

.content-section {
  background-color: #243842;
  background-color: #243842;
  padding: 50px;
  margin-bottom: 100px;
  max-width: 100%; }

.content-title {
  color: #00c9ed;
  margin-bottom: 20px; }

.content-column-course {
  font-size: 14px;
  font-size: 1.4rem;
  list-style: none;
  text-align: left;
  color: white;
  vertical-align: top; }
  @media (min-width: 720px) {
    .content-column-course {
      display: inline-block;
      width: 45%; }
      .content-column-course:nth-child(2n+1) {
        margin-right: 5%; }
      .content-column-course:last-child {
        margin-right: 0%; } }
  @media (min-width: 980px) {
    .content-column-course {
      display: inline-block;
      width: 30%;
      margin-right: 4%; }
      .content-column-course:nth-child(3n) {
        margin-right: 0; }
      .content-column-course:last-child {
        margin-right: 0%; } }

.curse-content-item {
  line-height: 27px;
  list-style-type: disc; }
  .curse-content-item:before {
    font-size: 16px; }

.details-subsection {
  overflow: hidden;
  padding: 0 2%;
  margin: 0 auto;
  margin-bottom: 50px; }
  @media (min-width: 540px) {
    .details-subsection {
      width: 80%; } }
  @media (min-width: 840px) {
    .details-subsection {
      padding: 0 10%;
      width: 80%; } }
  @media (min-width: 920px) {
    .details-subsection {
      float: left;
      width: 430px;
      padding: 0;
      position: relative; }
      .details-subsection:nth-child(2n) {
        float: right;
        margin-right: 0; } }

.info-details {
  width: 80%;
  margin-left: 30px; }
  @media (min-width: 920px) {
    .info-details {
      display: inline-block;
      width: 370px; } }
  .info-details .title-details {
    color: #00c9ed;
    border-bottom: 2px solid #00c9ed;
    font-size: 21px;
    font-size: 2.1rem;
    max-height: 37px;
    margin-bottom: 20px;
    padding-bottom: 20px; }
  .info-details .information-item {
    font-size: 13px;
    font-size: 1.3rem;
    margin: 10px 0 0 0px; }
  .info-details .subtitle-title-details {
    display: block;
    margin: 20px 0 10px 0px;
    font-weight: bold;
    font-size: 16px;
    font-size: 1.6rem; }
  .info-details .subtitle-details {
    font-size: 14px;
    font-size: 1.4rem;
    color: #292929;
    font-weight: bold; }
  .info-details .orange-color {
    color: #ff8f00; }
  .info-details a {
    color: #848286; }

.course-preview-module {
  margin-bottom: 50px;
  overflow: hidden;
  vertical-align: top;
  position: relative;
  text-align: left; }
  @media (min-width: 480px) {
    .course-preview-module {
      margin: 50px 10%; } }
  @media (min-width: 600px) {
    .course-preview-module {
      display: inline-block;
      margin: 0 auto;
      margin-bottom: 50px;
      width: 45%; }
      .course-preview-module:nth-child(2n+1) {
        float: right; }
      .course-preview-module:last-child {
        margin-right: 0; } }
  @media (min-width: 980px) {
    .course-preview-module {
      display: inline-block;
      width: 43%; }
      .course-preview-module:nth-child(3n) {
        margin-right: 0; }
      .course-preview-module:last-child {
        margin-right: 0; } }

.image-preview-module {
  display: block;
  position: absolute;
  width: inherit;
  width: 100%;
  top: 0;
  z-index: -1; }

.course-preview-module:hover .overlay-square {
  opacity: 1;
  -webkit-transition: 1s; }

.link-preview-module {
  overflow: hidden; }

.info-preview-module {
  color: white;
  padding: 30px 20px;
  margin-left: 50%;
  overflow: hidden;
  width: 50%;
  height: 250px;
  position: relative;
  z-index: 34; }

.overlay-square {
  content: "";
  background-color: #00c9ed;
  opacity: 0.85;
  top: 0;
  width: 50%;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-transition: 1s; }

.title-preview-module {
  margin-bottom: 20px; }

.bottom-line {
  color: #00c9ed;
  display: block;
  border-bottom: 2px solid #00c9ed;
  width: 42%; }

.subtitle-preview-module {
  margin: 1rem 0 0.50px; }

.date-preview-module {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5px 0 1.50px; }

.price-preview-module {
  background-color: white;
  color: #00c9ed;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  position: absolute;
  left: 30px;
  bottom: 30px;
  margin-top: 0.50px;
  padding: 3px 0.7rem;
  display: block; }

.border-square {
  border-radius: 12px; }

.width-form {
  margin: 0 auto;
  overflow: hidden;
  position: relative; }
  @media (min-width: 480px) {
    .width-form {
      width: 450px; } }

.title-form {
  text-align: center; }

.pay-form {
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: 1s;
  -webkit-transition: 1s;
  width: 100%; }
  .pay-form span {
    border-bottom: 1px solid #848286;
    display: block;
    margin: 30px 0; }

.current-course {
  font-size: 16px;
  font-size: 1.6rem;
  color: #848286;
  float: left;
  font-weight: bold;
  line-height: 18px;
  margin: 10px 0 10px 0;
  padding: 10px 20px 10px 0;
  text-align: left; }

.input-main-form {
  font-size: 16px;
  font-size: 1.6rem;
  background-color: #ececec;
  border: none;
  margin: 1rem 0;
  padding: 20px 20px;
  width: 100%; }

.show-pay-form {
  height: 410px;
  -webkit-transition: 1s; }

.flip-wrap {
  display: block;
  margin: 0 auto;
  height: 90px;
  width: 300px;
  position: relative;
  overflow: hidden;
  perspective: 800px; }

.hide-button {
  transform: rotateX(93deg);
  transform-origin: center;
  -webkit-transform: rotateX(93deg);
  -webkit-transform-origin: center;
  transform-style: preserve-3d;
  transition: 1s;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 1s; }

.hide-flip-wrap {
  height: 0;
  -webkit-transition: 2s;
  transition: 2s; }

.preview-squares-module {
  text-align: center; }

.career-program {
  background-color: transparent;
  padding: 60px 0;
  position: relative; }

.square-preview-module {
  background-color: white;
  height: 300px;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  text-align: left;
  box-shadow: 0px 0px 13px #c2bebe;
  z-index: 2; }
  @media (min-width: 480px) {
    .square-preview-module {
      margin: 30px 10%; } }
  @media (min-width: 600px) {
    .square-preview-module {
      display: inline-block;
      margin: 0 auto;
      width: 45%; }
      .square-preview-module:nth-child(2n+1) {
        margin-right: 4%; }
      .square-preview-module:last-child {
        margin-right: 0%; } }
  @media (min-width: 980px) {
    .square-preview-module {
      display: inline-block;
      height: 250px;
      margin-bottom: 30px;
      margin-right: 4%;
      width: 29%; }
      .square-preview-module:nth-child(3n) {
        margin-right: 0; }
      .square-preview-module:last-child {
        margin-right: 0; } }

.title-square {
  font-size: 20px;
  font-size: 2rem;
  color: white;
  margin-top: 0;
  padding: 15px; }

.list-program-preview {
  padding: 25px;
  z-index: 2; }
  .list-program-preview li {
    font-size: 14px;
    font-size: 1.4rem;
    display: block;
    margin-bottom: 10px; }

.download-program-button {
  color: white;
  margin-bottom: 10px; }

.background-color-post {
  background-color: #819535; }

.background-color-ddw {
  background-color: #922716; }

.background-color-animacion {
  background-color: #cc6220; }

.section-skills {
  background-color: #243842;
  width: 100%;
  margin: 0; }
  .section-skills:after {
    content: "";
    background-image: url(../img/animacion-back.png);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5; }

.text p {
  color: white; }

.title-skills {
  font-size: 28px;
  font-size: 2.8rem;
  color: #00c9ed;
  margin-top: 33px; }

.content {
  position: relative;
  z-index: 1; }

.content-line-grid {
  clear: both;
  padding-top: 50px; }

.line-grid {
  width: 45%;
  display: inline-block; }

.graduate-sidebar {
  float: left;
  display: inline-block;
  background-color: #243842;
  box-shadow: 0 0 13px #c2bebe;
  padding: 48px;
  width: 25%;
  color: white; }
  .graduate-sidebar input {
    display: list-item;
    float: left;
    margin-right: 6px;
    width: 20px;
    height: 20px; }
  .graduate-sidebar p {
    font-size: 14px;
    font-size: 1.4rem;
    color: white;
    margin-bottom: 11px; }

.graduate-sidebar-career {
  border-bottom: 1px solid #ececec;
  padding-bottom: 15px; }

.graduate-sidebar-availabity {
  margin-top: 20px;
  border-bottom: 1px solid #ececec;
  padding-bottom: 15px; }

.graduate-sidebar-generation {
  margin-top: 20px; }

.graduate-sidebar-title {
  margin-bottom: 12px; }

.graduate-list {
  float: right;
  width: 65%; }

.graduate-list-profile {
  width: 90%;
  margin: 11px 0;
  position: relative;
  float: right;
  border-bottom: 1px solid #ececec;
  padding-bottom: 29px; }
  .graduate-list-profile img {
    float: left;
    border-radius: 100%;
    padding: 1px;
    width: 104px;
    margin: 1rem 2rem 1rem 0;
    box-shadow: 0px 4px 7px -2px #292929; }

.graduates-content {
  margin: 50px 0; }

.graduate-title {
  font-size: 20px;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #292929;
  margin-bottom: 25px; }

.graduate-list-profile-info {
  text-align: left;
  margin-top: 20px; }

.graduate-list-profile-info-title {
  color: #292929;
  line-height: 38px;
  margin-bottom: -2px; }

.graduate-list-profile-info-profession {
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  color: #292929;
  display: block;
  margin: 0 0 8px 0;
  margin-top: 0; }

.graduate-list-profile-info-tag {
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  color: #848286;
  margin-right: 10px;
  display: inline-block;
  border-radius: 4px; }

.info-profile {
  text-align: center;
  width: 100%; }

.info-profile-img {
  border-radius: 800px;
  box-shadow: 0px 4px 7px -2px #848286;
  margin-bottom: 18px;
  width: 20%; }

.info-profile-title {
  color: #292929; }

.title {
  margin-bottom: 16px;
  text-align: left; }

.info-profile-profession {
  font-size: 16px;
  font-size: 1.6rem;
  color: #292929;
  margin-top: 15px; }

.info-profile-rrss {
  margin-top: 18px; }
  .info-profile-rrss svg {
    margin: 0 2px;
    width: 5%; }

.icon-profile {
  display: inline-block;
  margin-top: 9px;
  width: 4%; }

.info-profile-contact {
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
  margin: 25px 0;
  padding: 24px 0; }

.info-profile-contact-list-items {
  display: inline-block;
  list-style: none;
  width: 24%; }
  .info-profile-contact-list-items img {
    margin-bottom: 6px;
    width: 28px; }
  .info-profile-contact-list-items p {
    font-size: 16px;
    font-size: 1.6rem;
    color: #848286;
    font-family: "Open Sans", sans-serif; }

.info-profile-content {
  width: 84%;
  margin: 0 auto; }

.info-profile-content-about {
  font-size: 14px;
  font-size: 1.4rem;
  color: #848286;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  width: 53%;
  float: left; }

.info-profile-content-skills {
  display: inline-block;
  float: right;
  width: 43%; }

.info-profile-content-skills-list {
  text-align: left; }

.info-profile-content-skills-list-items {
  font-size: 14px;
  font-size: 1.4rem;
  background-color: #243842;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px #243842;
  color: white;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  margin-bottom: 14px;
  margin-right: 12px;
  padding: 4px; }

.info-profile-content-education {
  float: left;
  margin-top: 30px;
  width: 53%; }
  .info-profile-content-education p {
    font-size: 14px;
    font-size: 1.4rem;
    color: #848286;
    font-family: "Open Sans", sans-serif;
    text-align: left; }

.news-section-main-first {
  background-color: #ececec; }

.news-size {
  position: relative; }

.many-news-first {
  float: left;
  overflow: hidden;
  width: 68%;
  margin-bottom: 3rem;
  padding: 0 3rem; }
  .many-news-first p {
    font-size: 13px;
    font-size: 1.3rem;
    margin-bottom: 16px; }

.news-preview {
  box-shadow: 0px 0px 13px #c2bebe;
  float: left;
  overflow: hidden;
  position: relative;
  width: 48%;
  margin-bottom: 3rem; }
  .news-preview:nth-child(2n) {
    float: right; }

.image-new-preview {
  position: absolute;
  display: block;
  width: 100%;
  z-index: 10; }

.information-new-preview {
  background-color: white;
  height: 27rem;
  margin-top: 18rem;
  padding: 4rem;
  position: relative;
  z-index: 20; }

.triangle-news {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent white transparent;
  top: -15px;
  position: absolute; }

.tittle-new-preview {
  margin-bottom: 5px; }

.border-new {
  border-bottom: 1px solid #ececec;
  display: block;
  margin: 16px 0 25px;
  width: 100%; }

.date-new-preview {
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  margin-bottom: 12px; }

.icon-arrow {
  width: 9px;
  margin-right: 5px; }
  .icon-arrow:hover {
    margin-right: 3px; }

.new-first {
  background-color: white;
  box-shadow: 0px 0px 13px #c2bebe;
  overflow: hidden;
  width: 67%; }
  .new-first p {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 30px;
    margin-bottom: 32px; }
    .new-first p:last-child {
      margin-bottom: 0; }

.image-new {
  width: 100%; }

.information-main {
  padding: 80px; }

.title-main {
  margin-bottom: 16px;
  padding-bottom: 5px; }

.date-main {
  border-bottom: 1px solid #ececec;
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  padding-bottom: 35px;
  margin-bottom: 16px; }

.populars {
  width: 27%;
  float: right;
  background-color: white;
  padding: 20px 20px;
  box-shadow: 0px 0px 13px #c2bebe; }

.tittle-populars {
  color: #848286;
  overflow: hidden;
  position: relative;
  padding: 10px 20px 10px; }

.popular-new {
  border-bottom: 1px solid #ececec;
  display: block;
  padding: 20px;
  color: #292929;
  position: relative;
  overflow: hidden; }
  .popular-new:last-child {
    border: none; }

.sub-tittle-populars {
  margin-bottom: 7px; }

.date-preview {
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  margin-bottom: 10px; }

.read-more {
  color: #ff8f00;
  font-size: 14px;
  font-size: 1.4rem;
  padding-bottom: 1px; }

.populars2 {
  box-shadow: none;
  width: 30%;
  float: right;
  background-color: white;
  padding: 0  20px; }
  .populars2 .tittle-populars {
    color: #292929;
    font-size: 24px;
    font-size: 2.4rem;
    overflow: hidden;
    position: relative;
    padding: 0 0 10px;
    text-align: center; }
    .populars2 .tittle-populars:before {
      position: absolute;
      top: 43%;
      left: 0;
      width: 13%;
      height: 1px;
      content: '\a0';
      background-color: #A8A2A2; }
    .populars2 .tittle-populars:after {
      position: absolute;
      top: 43%;
      overflow: hidden;
      right: 0;
      width: 13%;
      height: 1px;
      content: '\a0';
      background-color: #A8A2A2; }
