html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Verdana, sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: $grey-light;
}

ul {
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
