html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Verdana, sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: $grey-light;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: $montserrat;
}
h2{
	@include font-size(25);
	font-family: $montserrat;
}
ul {
	margin: 0;
	padding: 0;
}
//video
iframe{
	vertical-align: top;
	float: right;
	width: 100%;
	height: 16rem;
	margin-top: 9px;
	@media(min-width: 480px){
    height: 30rem;
    width: 50%;
  }
}
@media (min-width: 600px){
	p, li {
		font-family: $open-sans;
		@include font-size(17);
		margin: 0;
	}
}
