html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Verdana, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
}

a {
	color: $grey-light;
	text-decoration: none;
	
}

ul {
	margin: 0;
	padding: 0;
}

//title, sub-title and text margin 
h3 {
	margin: 0;
}

h2 {
	margin: 0;
}

p {
	margin: 0;
}

//Video in generation and Description - video 
iframe {
	float: right;
	height: 160px;
	margin-top: 9px;
	vertical-align: top;
	width: 100%;
	@media(min-width: 480px){
	    height: 30rem;
	    width: 50%;
  	}
}

// SVG
//Color and hovers in administrative personal and graduate profile 
svg {
	margin-right: 15px;
	margin-top: 11px; 
	vertical-align: top;
	&:hover{
    	border-bottom: none;
    }
}

.icon {
	width: 19%;
}

.icon-social-facebook {
  	fill: $grey-dark;
    height: 40px;
    &:hover{
    	cursor: pointer;
        fill: #4966a7; 
    }
}

.icon-social-twitter {
    fill: $grey-dark;
    height: 40px;
    &:hover{
    	cursor: pointer;
        fill: #17b3e8; 
    }
}

.icon-social-vimeo {
    fill: $grey-dark;
    height: 40px;
    &:hover{
        cursor: pointer;
        fill: #17b3e8; 
    }
}
//Color and hovers in Footer
.facebook-icon {
	fill: $white;
	height: 40px;
	margin-top: 20px;
	width: 40px;
	&:hover{
		cursor: pointer;
		fill: #4966a7; 
	}
}

.vimeo-icon {
	fill: $white;
	height: 40px;
	width: 40px;
	&:hover{
		cursor: pointer;
		fill: #17b3e8; 
	}
}