//Tipography
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$montserrat:'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;

//Colors
$animacion-color:#cc6220;
$blue-dark:#243842;
$blue-facebook:#4C67A1;
$blue-light-twitter:#55ACEE;
$box-shadow:#C2BEBE;
$ddw-color:#922716;
$font-ligth:#fdfefd;
$grey-dark:#292929;
$grey-light:#ECECEC;
$grey-lines:#b2b2b2;
$grey:#848286;
$light-blue:#00c9ed;
$orange-light:#FAB853;
$orange:#ff8f00;
$post-color:#819535;
$success-green:#2dcc70;
$white:#fff;


