.container-personal-first{
	margin: 0 auto;
	max-width: 1000px;
	padding: 0;
	.personal-list{
		width: 100%;
		text-align: center;
	}
	.personal-link-container{
		display: inline-block;
		background-color: #fff;
		line-height: 3rem;
		position: relative;
		overflow: hidden;
		margin: 0 auto;
		text-align: center;
		img {
			float: left;
			width: 3rem;
			margin: 0 1rem;
		}
	}
	.personal-list-border{
		border: solid 2px $grey-lines;
		padding: 1rem;
	}
	.personal-list-items{
		display: inline-block;
		margin: 0;
		position: relative;
		height: 43rem;
		vertical-align: top;
		// padding: 0 1rem;
		.image-personal{
			border-radius: 50%;
		   width: 100%;
		}
		@media(min-width: 319px){
			width: 80%;
			margin: 40px 10%;
		}
		@media(min-width: 480px){
			width: 41%;
			margin: 5rem 4%;
		}
    	@media(min-width: 680px){
			width: 30%;
			margin: 5rem 5%;
		}
		@media(min-width: 980px){
			width: 21%;
		    margin: 0;
		    margin-right: 5%;
			&:last-child {
				margin-right:0;
			}
		}
		.personal-list-items-title{
			color: $grey;
			display: inline-block;
			@include font-size(20);
			font-family: $montserrat;
			padding: 2rem 0 0 0;
			
			
		}

		p{
			@include font-size(14);
			font-family: $open-sans;
			color: $grey-dark;
			width: 100%;
			margin: 0 0 0rem;
			padding: 0 1rem ;
			@media(min-width: 320px){
				width: 99%;
			}
			@media(min-width: 680px){
				width: 100%;
			}
		}
		.charge {
			background-color: $grey-light;
			border-radius: 5px;
			color: #505050;
			display: inline-block;
			padding: 0.5rem 1rem;
			text-align: center;
			/* font-weight: bold; */
			margin: 0.5rem 0;
			margin-bottom: 1rem;
		}
		.border-personal {
			border-bottom: 1px solid $grey-lines;
			display: block;
			width: 40%;
			margin: 0 auto;
			margin-bottom: 2rem;

		}
		a{
			@include font-size(14);
			font-family: $open-sans;
	    	@media(min-width: 319px){
					display: block;
		    	height: 32px;
		    	padding-top: 6px;
	    	}
			@media(min-width: 680px){
				display: inline-block;
				padding: 3px;
				
			}
			&:nth-of-type(1){
				border-right: solid 2px $grey-lines;
				color: $blue-facebook;
				@media(min-width: 680px){
					border: none;
					border-right: solid 1px $grey-lines;
					padding-right: 8px;
				}
			}
			&:nth-of-type(2){
				color: $blue-light-twitter;
				@media(min-width: 680px){
					border:none;
				}
			}
		}
	}
}

