.personal-list {
	width: 100%;
	text-align: center;
}

.personal-link-container {
	background-color: #fff;
	display: inline-block;
	line-height: 3rem;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	text-align: center;

	img {
		float: left;
		margin: 0 1rem;
		width: 3rem;
	}
}

.personal-list-border {
		border: solid 2px $grey-lines;
		padding: 1rem;
}

.personal-list-items {
		display: inline-block;
		height: 43rem;
		margin: 0;
		position: relative;
		vertical-align: top;
		
		@media(min-width: 319px){
				margin: 40px 10%;
				width: 80%;
		}
		@media(min-width: 480px){
				margin: 5rem 4%;
				width: 41%;
		}
    @media(min-width: 680px){
				margin: 5rem 5%;
				width: 30%;
		}
		@media(min-width: 980px){
				margin-right: 5%;
				margin: 0;
				width: 20%; 
				&:last-child {
						margin-right:0;
			}
		}

		.personal-list-items-title{
			color: $grey;
			display: inline-block;
			padding: 2rem 0 0 0;
		}

		p{
			@include font-size(12);
			color: $grey-dark;
			font-family: $open-sans;
			margin: 10px 0;
			text-align: left;

			@media(min-width: 320px){
				width: 99%;
			}

			@media(min-width: 680px){
				width: 100%;
			}
		}

		.charge {
			@include font-size(13);
			background-color: $grey-light;
			border-radius: 5px;
			color: #505050;
			display: inline-block;
			font-family: $open-sans;
			height: 45px;
			margin: 21px 0;
			margin-bottom: 1rem;
			padding: 0.5rem 1rem;
			text-align: center;
		}
		.border-personal {
				border-bottom: 1px solid $grey-lines;
				display: block;
				margin-bottom: 2rem;
				margin: 0 auto;
				width: 40%;
		}

		a{
			 	@include font-size(14);
			 	font-family: $open-sans;

	    	@media(min-width: 319px){
					display: block;
		    	height: 32px;
		    	padding-top: 6px;
	    	}

				@media(min-width: 680px){
						display: inline-block;
						padding: 3px;
			}

			&:nth-of-type(1){
					border-right: solid 2px $grey-lines;
					color: $blue-facebook;

					@media(min-width: 680px){
							border: none;
							border-right: solid 1px $grey-lines;
							padding-right: 8px;
					}
			}

			&:nth-of-type(2){
					color: $blue-light-twitter;
					@media(min-width: 680px){
							border:none;
					}
			}
		}
}

.image-personal{
	border-radius: 50%;
	box-shadow: 0px 4px 7px -2px $grey;
	width: 58%;
}