.backgrund-container-list {
		background-color: #243842;
		background-color: $blue-dark;
		padding: 100px 0;
		width: 100%;
}
.content-list {
		width: 100%;
}

.content-list-grid {
		display: inline-block;
		margin-right: 83px;
		vertical-align: top;
		width: 45%;

	&:last-child {
			margin-right: 0;
	}
}

.item-grid {
		@include font-size(14);
		color: white;
		font-family: $open-sans;
		line-height: 20px;
		list-style: none;
		margin-bottom: 10px; 

		&:before {
			content: "• ";
    	color: $light-blue;
    	font-size: 22px;
    	float: left;
    	margin-right: 11px;
		}
}