/* ==|====================
   Partials/Modules/Buttons

   -------INDEX--------
   #Button
   #Career Program
   #Generations
   #Form
   #Play Video
   #Footer
   #Egresados
   ======================= */

/* #Button
   ========================================================================== */
.button{
	background: none;
	padding: 15px 40px;
	transition:0.2s;
	@include font-size(18);
	position: relative;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
/* #Career Program
   ========================================================================== */
.program-button {
	background-color: $white;
	border: 1px solid $ddw-color;
	color: $ddw-color;
	display: block;
	height: 50px;
	line-height: 15px;
	margin: 25px auto;
	width: 80%;

	&:hover{
		background-color: $ddw-color;
		color: $white;
		transition:0.2s;

		.triangle-link-ddw {
			@extend %triangle-link;
			border-color: transparent transparent transparent $white;
			transition:0.2s;
		}

		.triangle-download-ddw {
			@extend %triangle-download;
			border-color: $white transparent transparent transparent;
			transition:0.2s;
		}
	}
}

.download-program-button {
	color: $white;
	margin-bottom: 10px;
}

/* #Generations
   ========================================================================== */
.generations-intro-button {
	border: 2px solid #848286;
	color: #848286;
	margin-top: 20px;

	&:hover{
	   	color: $white;
	    background-color: #848286;
	    .triangle-link-anuario {
			@extend %triangle-link;
			border-color: transparent transparent transparent $white;
		}
	}
}

.triangle-link-anuario {
	border-color: transparent transparent transparent #848286;
	@extend %triangle-link;
}

/* #Form
   ========================================================================== */
.inscription-button {
	background-color: transparent;
	border:1px solid $light-blue;
	font-weight: bold;
	color: $light-blue;
	position: absolute;
	top:0;
	left: 9%;
	outline: none;
	transform-style: preserve-3d;
	transition: transform 1s;
	&:hover {
		background-color: #00acea;
		color: $white;
	}
}

.upload-button {
	background-image: url(../img/upload.png);
	border:1px solid $blue-dark;
	background-position: 14px 18px;
	background-repeat: no-repeat;
	color: $blue-dark;
	display: block;
	margin-top: 8px;

	&:hover {
		background: url(../img/upload-hover.png);
		background-color: $blue-dark;
		color: $white;
		background-position: 14px 18px;
		background-repeat: no-repeat;
	}
}

.send-button {
	border:1px solid $light-blue;
	color: $light-blue;
	display: block;
	&:hover {
		background-color: #00acea;
		color: $white;
	}
}

/* #Play Video
   ==========================================================================
 * buttons of play of description generation and description video
 */
.play-video-wrap {
	border-radius:800%;
	border: 3px solid $orange;
	cursor: pointer;
	display: inline-block;
	height: 62px;
	margin-top: 40px;
	position: relative;
	width: 15%;
}

.play-video {
	@extend %triangle-link;
	display: block;
	border-width: 12px 0 12px 18.6px;
	border-color: transparent transparent transparent $orange;
	text-indent: -10000%;
	position: absolute;
    left: 19%;
    top: 14px;
}

/* #Footer
   ========================================================================== */
.footer-list-items-button {
	@include font-size(12);
	background: none;
	border:1px solid $white;
	border-radius: 3px;
	color: $white;
	font-family: $open-sans;
	margin: 0.5rem auto;
	margin-right: 8px;
	min-height: 35px;
	padding: 12px 12px;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    width: 80%;

	@media (min-width: 980px) {
	    width: 38%;
	}
	&:hover {
		background: $white;
		color: $grey-dark;
	}
}

/* #Egresados
   ==========================================================================
 * List of graduate
 */
.graduate-list-profile-info-link {
	border:1px solid #405C6A;
	color: #405C6A;
	float: left;
	@include font-size(14);
	font-family: $montserrat;
	position: absolute;
	padding: 6px 16px;
	right: 0;
	top: 35px;

	&:hover {
		background-color: $blue-dark;
		color: $white;
	    -webkit-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
	}
}
