.program-preview {
	background-color: #ebedef;
	height: 33rem;
	@media(min-width: 980px){
		height: 32rem;
	}
}

.title-square {
	@include font-size(16);
	border-bottom: 2px solid $grey-lines;
	padding: 1.5rem;
}

.list-program-preview {
	padding: 0 1.5rem;

	li {
		@include font-size(16);
		line-height: 5rem;
	}
}