.preview-squares-module{
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
}
.career-program {
	background-color: $grey;
	position: relative;
	padding: 3rem 3rem 0;
}
.square-preview-module {
	background-color: $grey-light;
	margin-bottom: 3rem;
	overflow: hidden;
	position: relative;
	text-align: left;
	z-index: 2;
	height: 33rem;
	background-color: $white;

	@media (min-width: 480px) {
		margin: 3rem 10%;
	}

	@media (min-width: 600px) {
		display: inline-block;
		margin: 0 auto;
		margin-bottom: 3rem;
		width: 45%;
		&:nth-child(2n+1) {
        margin-right: 4%;
    	}
    	&:last-child {
        margin-right: 0%;
    	}
	}

	@media (min-width: 980px) {
		display: inline-block;
		width: 30%;
		height: 32rem;
		margin-right: 4%;
		&:nth-child(3n) {
        margin-right: 0;
    	}
    	&:last-child {
        margin-right: 0%;
    	}
	}
}

.title-square {
	color: $white;
	@include font-size(22);
	padding: 1.5rem;
	margin-top: 0;
}

.list-program-preview {
	padding: 2.5rem;
	z-index: 2;

	li {
		display: block;
		@include font-size(14);
		margin-bottom: 2rem;
		@media(min-width: 600px){
			
		}

	}
}

.background-color-post {
 background-color: $post-color;
}

.background-color-ddw {
 background-color: $ddw-color;
}

.background-color-animacion {
 background-color: $animacion-color;
}

.border-color-post {
 border: 2px solid $post-color;
}

.border-color-ddw {
 border: 2px solid $ddw-color;
}

.border-color-animacion {
 border: 2px solid $animacion-color;
}

.career-program::after {
  content: "";
  background-image: url(../img/background-ddw.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;   
}