.container-generations{
	margin: 0 auto;
	margin-bottom: 2rem;
	max-width: 1000px;
	padding: 0;
	.generations-intro{
		display: block;
		overflow: hidden;
		margin-top: 4rem;
		@media(min-width: 880px){
			margin-top: 0;
			float: left;
			vertical-align: top;
			width: 44%;
		}
		.generations-intro-title{
			@include font-size(48);
			font-family: $montserrat;
			color: $orange;
			line-height: 120%;
		}
		p{
			@include font-size(18);
			font-family: $open-sans;
			margin: 2rem 0;
			margin-top: 8px;
			color: $grey;
		}
		.generations-intro-button{
			@include font-size(18);
			border: 1px solid $grey;
			border-radius: 3px;
			background: none;
			color: $grey;
			width: 45%;
			height: 48px;
		}
	}
}