.container-generations {
	margin: 0 auto;
	margin-bottom: 20px;
	max-width: 1000px;
	padding: 0;
}

.generations-intro {
	display: block;
	margin-top: 4rem;
	overflow: hidden;

	@media(min-width: 880px) {
		float: left;
		margin-top: 0;
		vertical-align: top;
		width: 44%;
	}
}

.generations-intro-title { 
	@include font-size(40);
	font-family: $montserrat;
	color: $orange;
	line-height: 120%;
	margin-top: 51px;
}

.generations-intro-button {
	@include font-size(16);
	background: none;
	border: 2px solid #848286;
	border-radius: 6px;
	color: #848286;
	margin-top: 20px;
	padding: 20px 70px;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	
	&:hover{
	   	color: $white;
	    background-color: #848286;
	}
}
	