.container-career{
	margin: 0 auto;
	max-width: 1000px;
	padding: 0;
	width: 100%;
	.career-intro{
		margin: 2rem 0;
		@media(min-width: 880px){
			margin-top: 0;
			float: left;
			vertical-align: top;
			width: 48%;
			&:nth-child(2){
			float: right;
			}
		}
		.career-intro-title{
			@include font-size(48);
			font-family: $montserrat;
			color: $orange;
			line-height: 120%;
		}
		p{
			@include font-size(18);
			font-family: $open-sans;
			margin: 2rem 0;
			margin-top: 7px;
			color: $grey;
		}
		
	}
}
