.graduate{
	width: 100%;
	margin: 11px 0;
	text-align: center;
	position: relative;
	float: right;
 	border-bottom: 1px solid $grey-light;
  padding-bottom: 28px;
}
.graduates-content{
	margin: 50px 0;
}
.graduates-list{
	float: right; 
	width: 60%;
}
.graduate-title{
	@include font-size(20);
	font-family: $montserrat;
	color: $grey-dark;
	margin-bottom: 25px;
}
.graduates-list img{
	float: left;
	border-radius: 100%;
	padding: 1px;
	width: 139px;
  margin: 1rem 2rem 1rem 0;
  box-shadow: 0px 4px 7px -2px $grey;
}
.graduate-details{
	text-align: left;
	padding: 1rem 0;
}
.tittle-profile-preview {
	@include font-size(28);
	font-family: $montserrat;
	color: $post-color; 
	line-height: 3.8rem; 
	margin-bottom: 6px;
}
.profession-preview {
	@include font-size(14);
	font-family: $open-sans;
	color: $grey;
	display: block;
	margin: 0.9rem 0;
	margin-top: 0;
}
.see-profile {
	@include font-size(14);
	font-family: $montserrat;
	color: $orange;
  float: left;
  margin-top: 0;
}
//--------------------First-proposal-------------------------
	.container-list{
		float: right;
    width: 66%;
	}
	.list-subtitle{
		@include font-size(16);
		font-family: $montserrat;
		margin-bottom: 25px;
		color: $grey;
	}
	.content-graduate{
		width: 75%;
		background-color: $white;
		margin-bottom: 25px;
		box-shadow: 0 0 13px $box-shadow;
		position: relative;
		img{
			width: 33%;
			float: left;
		}
		.graduate-intro{
			padding: 21px 20px 36px;
			display: inline-block;
			width: 64%;
		}
		.intro-title{
			@include font-size(20);
			font-family: $montserrat;
			margin-bottom: 3px;
		}
		.intro-profession{
			@include font-size(14);
			font-family: $montserrat;
		}
		.content-tag{
   		margin-top: 11px;
		}
		.intro-tag{
			@include font-size(14);			
			font-family: $open-sans;
			color: $grey;
	    display: inline-block;
    	margin-right: 5px;
	    margin-bottom: 14px;
		}
		.intro-link{
			@include font-size(14);
		}
		.triangle-link{
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 0 5px 5px;
			border-color: transparent transparent transparent $post-color;
	    position: absolute;
	    left: 245px;
	    top: 113px;
		}
	}