.graduate{
	width: 100%;
	margin: 20px 0;
	text-align: center;
	position: relative;
	float: right;
}
.graduates-content{
	margin: 50px 0;
}

.graduates-list{
	float: right; 
	width: 60%;
}

.graduates-list img{
	float: left;
	border-radius: 100%;
	padding: 5px;
	width: 120px;
    margin: 1rem 2rem 1rem 2rem;
	border: solid 1px #eee;
    box-shadow: 0px 6px 7px -2px #999;
}

.graduate-details{
	text-align: left;
	padding: 1rem 0;
}
	
.tittle-profile-preview {
	line-height: 3.8rem;
	@include font-size(28);
}

.profession-preview {
    
	display: block;
	@include font-size(14);
	margin: 1.5rem 0;
	margin-top: 0;

}

.see-profile {
	color: #ff8f00;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
    float: right;
    padding: 5px;
}
//--------------------First-proposal-------------------------
	.content-graduate{
		display: inline-block;
		vertical-align: top;
		width: 22%;
		img{
			width: 209px;
    	height: 193px;
		}
		.graduate-intro{
			background-color: $grey-light;
			border-bottom: 1px solid;
			width: 95%;
    	margin-top: -2px;
    	padding: 11px;
    	text-align: center;
		}
		.intro-title{
			@include font-size(19);
			font-family: $montserrat;
	    margin: 0 0 6px;
	    color: $grey-dark;
		}
		.intro-profession{
			@include font-size(14);
			font-family: $montserrat;
			color: $grey-dark;
		}
		.content-tag{
			background-color: $grey-light;
			width: 95%;
			padding:11px;
			text-align: center;
		}
		.intro-tag{
			@include font-size(14);			
			font-family: $open-sans;
	    display: list-item;
	    list-style: none;
	    margin-bottom: 6px;
		}
		a{
			color: $grey-dark;
			border: 1px solid;
	    padding: 4px;
	    border-radius: 3px;
		}
	}