.width-form {
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	@media (min-width: 480px) {
		width: 450px;
	}
} 

.title-form {
	text-align: center;
}

.pay-form {
	height: 0px;
	overflow: hidden;
	text-align: center;
	transition: 1s;
	-webkit-transition: 1s;
	width: 100%;

	span {
		border-bottom: 1px solid $grey;
		display: block;
		margin: 30px 0;
	}
}

.current-course {
	@include font-size(16);
	color: $grey;
	float: left;
	font-weight: bold;
	line-height: 18px;
	margin: 10px 0 10px 0;
	padding: 10px 20px 10px 0;
	text-align: left;
}

.input-main-form {
	@include font-size(16);
	background-color: $grey-light;
	border:none;
	margin: 1rem 0;
	padding: 20px 20px;
	width: 100%;
}

.show-pay-form {
	height: 410px;
	-webkit-transition: 1s;
}

.flip-wrap {
	display: block;
	margin: 0 auto;
	height: 90px;
	width: 300px;
	position: relative;
	overflow: hidden;
	perspective: 800px;
	
}

.hide-button {
	transform: rotateX( 93deg );
	transform-origin:center;
	-webkit-transform: rotateX( 93deg );
	-webkit-transform-origin:center;
	transform-style: preserve-3d;
	transition: 1s;
    -webkit-transform-style: preserve-3d;
	-webkit-transition: 1s;
}

.hide-flip-wrap {
	height: 0;
	-webkit-transition: 2s;
	transition: 2s;
}