.width-form {
	margin: 0 auto;
	@media (min-width: 480px) {
		width: 450px;
	}
} 
.pay-form {
	height: 0px;
	overflow: hidden;
	text-align: center;
	transition: 2s;
	-webkit-transition: 2s;
	width: 100%;

	span {
		border-bottom: 1px solid $grey;
		display: block;
		margin: 30px 0;
	}
}

.current-course {
	@include font-size(16);
	color: $grey;
	float: left;
	font-weight: bold;
	line-height: 18px;
	margin: 10px 0 10px 0;
	padding: 10px 20px 10px 0;
	text-align: left;
}

.input-main-form {
	@include font-size(16);
	background-color: $grey-light;
	border:none;
	border-radius: 5px;
	margin: 1rem 0;
	padding: 20px 20px;
	width: 100%;
}

.button {
	@include font-size(14);
	background-color: transparent;
	border:none;
	border-radius: 5px;
	font-weight: bold;
	margin: 15px 0 15px 0;
	padding: 20px 30px;
	width:50%;
}

.upload-button {
	background-image: url(../img/upload-hover.png);
	background-color: $grey;
	background-position: 30px center;
	background-repeat: no-repeat;
	color: $white;
	display: block;
	text-align: right;
	&:hover {
		background: url(../img/upload-hover.png);
		background-color: $blue-dark;
		background-position: 30px center;
		background-repeat: no-repeat;
	}
}

.send-button {
	@include font-size(16);
	background-color: $light-blue;
	color: $white;
	display: block;
	height: 60px;
	&:hover {
		background-color: #00acea;
	}
}

.inscription-button {
	@include font-size(16);
	background-color: $light-blue;
	color: $white;
	display: block;
	height: 60px;
	margin: 30px auto;
	width: 200px;
	&:hover {
		background-color: #00acea;
	}
}

.show-pay-form {
	height: 410px;
	-webkit-transition: 2s;
}
