.pay-form {
	margin: 0 auto;
	text-align: center;
	@media (min-width: 480px) {
		width: 45rem;
	}
	span {
		display: block;
		margin: 3rem 0;
		border-bottom: 1px solid $grey;
	}
}

.input-main-form {
	border-radius: 5px;
	border:none;
	background-color: $grey-light;
	@include font-size(16);
	margin: 1rem 0;
	padding: 2rem 2rem;
	width: 100%;
}





.current-course {
	color: $grey;
	@include font-size(16);
	font-weight: bold;
	float: left;
	line-height: 18px;
	margin: 1rem 0 1rem 0;
	padding: 1rem 2rem 1rem 0;
	text-align: left;
}

.button {
	background-color: transparent;
	@include font-size(14);
	font-weight: bold;
	border:none;
	border-radius: 5px;
	padding: 2rem 3rem;
	margin: 1.5rem 0 1.5rem 0;
	width:50%;
}

.upload-button {
	display: block;
	background-image: url(../img/upload-hover.png);
	background-position: 3rem center;
	background-repeat: no-repeat;
	background-color: $grey;
	color: $white;
	text-align: right;
	&:hover {
		background: url(../img/upload-hover.png);
		background-position: 3rem center;
		background-repeat: no-repeat;
		background-color: $blue-dark;
	}
}
.send-button {
	background-color: $light-blue;
	color: $white;
	display: block;
	height: 6rem;
	@include font-size(16);
	&:hover {
		background-color: $light-blue;
		@include font-size(18);
		color: #fff;
	}
}