.container-courses{
	margin: 0 auto;
	max-width: 1000px;
	padding: 0;
	width: 100%;
	.course-info{
		float: left;
		width: 53%;
	}
	.course-info-title{
		@include font-size(40);
		font-family: $montserrat;
		color: $light-blue;
	}
	.course-info-text{
		@include font-size(16);
		margin-top: 21px;
		font-family: $open-sans;
		color: $grey;
	}
	.course-info-details{
		margin-top: 15px;
	}
	p{
		@include font-size(16);
		font-family: $open-sans;
		display: list-item;
		margin-bottom: 1px;
		color: $grey;
	}
	span{
		font-weight: bold;
		color: $grey-dark;
	}
	img{
		float: right;
		width: 40%;
    height: 372px;
	}
}