.container-courses {
	padding: 0;
	width: 100%;
	img {
		float: right;
		box-shadow: 0 0 8px $grey;
	    height: 372px;
	    width: 40%;
	}
}

.course-info {
	float: left;
	width: 53%;

	p {
		@include font-size(16);
		color: $grey;
		font-family: $open-sans;
		margin-bottom: 1px;	
	}

	span {
		color: $grey-dark;
		font-weight: bold;
	}
}

.course-info-title {
	@include font-size(40);
	color: $light-blue;
	font-family: $montserrat;
	margin: 0;
}

.course-info-text {
	@include font-size(16);
	color: $grey;
	margin-top: 21px;
	font-family: $open-sans;
}

.course-info-details {
	margin-top: 15px;
}
