.course-intro {

	p {
		@include font-size(16);
		color: $grey;
		font-family: $open-sans;
		margin-bottom: 1px;	
	}

	span {
		color: $grey-dark;
		font-weight: bold;
	}
}

.course-intro-title {
	color: $light-blue;
	margin: 0;
}

.course-intro-text {
	@include font-size(16);
	color: $grey;
	font-family: $open-sans;
	margin-top: 21px;
}

.course-intro-details {
	margin-top: 15px;
}

.course-image {
	float: right;
	box-shadow: 0 0 8px $grey;
	height: 389px;
	width: 70%;
}