.graduate-list{
	float: right; 
	width: 60%;
}
.graduate-list-profile{
	width: 100%;
	margin: 11px 0;
	text-align: center;
	position: relative;
	float: right;
 	border-bottom: 1px solid #c2bebe;
  padding-bottom: 29px;
  img{
		float: left;
		border-radius: 100%;
		padding: 1px;
		width: 139px;
	  margin: 1rem 2rem 1rem 0;
	  box-shadow: 0px 4px 7px -2px $grey-dark;
	}
}
.graduates-content{
	margin: 50px 0;
}
.graduate-title{
	@include font-size(20);
	font-family: $montserrat;
	color: $grey-dark;
	margin-bottom: 25px;
}

.graduate-list-profile-info{
	text-align: left;
	padding: 1rem 0;
}
.graduate-list-profile-info-title{
	@include font-size(28);
	font-family: $montserrat;
	color: $grey-dark; 
	line-height: 3.8rem; 
	margin-bottom: -2px;
}
.graduate-list-profile-info-profession{
	@include font-size(14);
	font-family: $open-sans;
	color: $grey-dark;
	display: block;
	margin: 0 0 1.5rem 0;
	margin-top: 0;
	font-weight: bold;
}
.graduate-list-profile-info-tag{
  @include font-size(14);
  font-family: $open-sans;
  color: $grey;
  margin-right: 10px;
  display: inline-block;
  background-color: $grey-light;
  border-radius: 4px;
  padding: 9px 16px;
}
.graduate-list-profile-info-link{
	@include font-size(14);
	font-family: $montserrat;
	color: $orange;
  float: left;
  margin-top: 2px;
}