.graduate-list {
	float: right;
	width: 65%;
}

.graduate-list-profile {
	border-bottom: 1px solid $grey-light;
	float: right;
	margin: 11px 0;
	padding-bottom: 29px;
	position: relative;
	width: 90%;

	img {
		border-radius: 100%;
		box-shadow: 0px 4px 7px -2px $grey-dark;
		float: left;
		margin: 1rem 2rem 1rem 0;
		padding: 1px;
		width: 104px;
	}
}

.graduates-content {
	margin: 50px 0;
}

.graduate-title {
	@include font-size(20);
	color: $grey-dark;
	font-family: $montserrat;
	margin-bottom: 25px;
}

.graduate-list-profile-info {
	margin-top: 20px;
	text-align: left;
}

.graduate-list-profile-info-title {
	color: $grey-dark;
	line-height: 38px;
	margin-bottom: -2px;
}

.graduate-list-profile-info-profession {
	@include font-size(13);
	color: $grey-dark;
	display: block;
	font-family: $open-sans;
	margin-top: 0;
	margin: 0 0 8px 0;
}

.graduate-list-profile-info-tag {
  @include font-size(13);
	border-radius: 4px;
	color: $grey;
	display: inline-block;
	font-family: $open-sans;
	margin-right: 10px;
}
