.graduate-list {
	float: right; 
	width: 65%;
}

.graduate-list-profile {
	width: 90%;
	margin: 11px 0 11px 87px;
	text-align: center;
	position: relative;
	float: right;
 	border-bottom: 1px solid $grey-light;
  	padding-bottom: 29px;

	img {
		float: left;
		border-radius: 100%;
		padding: 1px;
		width: 104px;
		margin: 1rem 2rem 1rem 0;
		box-shadow: 0px 4px 7px -2px $grey-dark;
	}
}

.graduates-content {
	margin: 50px 0;
}

.graduate-title {
	@include font-size(20);
	font-family: $montserrat;
	color: $grey-dark;
	margin-bottom: 25px;
}

.graduate-list-profile-info {
	text-align: left;
	margin-top: 20px;
}

.graduate-list-profile-info-title {
	color: $grey-dark; 
	line-height: 38px; 
	margin-bottom: -2px;
}

.graduate-list-profile-info-profession {
	@include font-size(13);
	font-family: $open-sans;
	color: $grey-dark;
	display: block;
	margin: 0 0 8px 0;
	margin-top: 0;
}

.graduate-list-profile-info-tag {
  @include font-size(13);
  font-family: $open-sans;
  color: $grey;
  margin-right: 10px;
  display: inline-block;
  border-radius: 4px;
}