.content-section {
	background-color: #243842;
	background-color: $blue-dark;
	padding: 5rem;
	margin-bottom: 10rem;
	max-width: 100%;

}
.content-information{
	max-width: 1000px;
	margin: 0 auto;
}
.content-title {
	color: $light-blue;
	font-family: $montserrat;
	margin-bottom: 2rem;

	@include font-size(36);
}
.content-column-course {
	@include font-size(16);
	list-style: none;
	text-align: left;
	color: $white;
	vertical-align: top;
	@media (min-width: 720px) {
		display: inline-block;
		width: 45%;
		&:nth-child(2n+1) {
        margin-right: 5%;
    	}
    	&:last-child {
        margin-right: 0%;
    	}
	}
	@media (min-width: 980px) {
		display: inline-block;
		width: 30%;
		margin-right: 4%;
		&:nth-child(3n) {
        margin-right: 0;
    	}
    	&:last-child {
        margin-right: 0%;
    	}
	}

	ul {
		padding-left: 2rem;
	}
	ul li {
		line-height: 2.7rem;
		list-style-type:disc;
	}
}
.details-section {
	overflow: hidden;
	padding:  1%;
	max-width: 1000px;
	margin: 0 auto;
	}
.details-subsection {
	overflow: hidden;
	padding: 0 2%;
	margin: 0 auto;
	margin-bottom: 5rem;
	@media (min-width: 540px) {
		width: 80%;
	}
	@media (min-width: 840px) {
		padding: 0 10%;
		width: 80%;
	}
	@media (min-width: 920px) {
		float: left;
		width: 43rem;
		padding: 0;
		position: relative;
		&:nth-child(2n) {
			float: right;
	        margin-right: 0;
	    }
	}
}


.icon-detail {
	float: left;
	margin-top: 3px;
	position: relative;
	img {
		width: 50%;
		display: block;
		width: initial;
	}
}

.info-details {
	color: $grey;
	width: 80%;
	margin-left: 3rem;
	@media (min-width: 920px) {
		display: inline-block;
		width: 37rem;
	}
	p {
		@include font-size(14);
		margin: 8px 0;
		
	}
	.subtitle-title-details {
		color: $grey;
		margin: 24px 0 16px 0;
		font-weight: bold;
		@include font-size(18);
		}
		a{
			color: $grey;
		}
}

.subtitle-details {
	color: $grey-dark;
	font-weight: bold;
}
.title-details {
	border-bottom: 2px solid $light-blue;
	color: $light-blue;
	@include font-size(21);
	max-height: 37px;
	margin-top: 0;
	overflow: hidden;
	padding-bottom: 1rem;
	h3 {
		margin-left: 1rem;
		display: inline-block;
		vertical-align: top;
	}
}

.orange-color {
	color: $orange;
}

	