.content-section {
	background-color: #e5e5e4;
	padding: 5rem;
	margin-bottom: 10rem;
	max-width: 100%;

}
.content-information{
	max-width: 1000px;
	margin: 0 auto;
}
.content-title {
	@include font-size(24);
}


.content-column-course {
	@include font-size(16);
	line-height: 2rem;
	text-align: left;
	vertical-align: top;
	@media (min-width: 720px) {
		display: inline-block;
		width: 45%;
		&:nth-child(2n+1) {
        margin-right: 5%;
    	}
    	&:last-child {
        margin-right: 0%;
    	}
	}
	@media (min-width: 980px) {
		display: inline-block;
		width: 30%;
		margin-right: 4%;
		&:nth-child(3n) {
        margin-right: 0;
    	}
    	&:last-child {
        margin-right: 0%;
    	}
	}
	ul li {
		list-style: initial;
		list-style-image: url(../img/list-decoration.png);
	}
}
.details-section {
	overflow: hidden;
	padding:  1%;
	max-width: 1000px;
	margin: 0 auto;
	}
.details-subsection {
	overflow: hidden;
	padding: 0 2%;
	margin: 0 auto;
	margin-bottom: 5rem;
	@media (min-width: 540px) {
		width: 80%;
	}
	@media (min-width: 840px) {
		padding: 0 10%;
		width: 80%;
	}
	@media (min-width: 920px) {
		float: left;
		width: 43rem;
		padding: 0;
		position: relative;
		&:nth-child(2n) {
			float: right;
	        margin-right: 0;
	    }
	}
}


.icon-detail {
	float: left;
	margin-top: 3px;
	position: relative;
	img {
		width: 50%;
		display: block;
		width: initial;
	}
}

.info-details {
	float: left;
	width: 80%;
	margin-left: 3rem;

	@media (min-width: 920px) {
		width: 37rem;
	}
	p {
		@include font-size(16);
		margin: 16px 0;
		.subtitle-details {
			font-weight: bold;
		}
	}
	.subtitle-title-details {
			margin: 24px 0 16px 0;
			font-weight: bold;
			@include font-size(18);
	}
}

.title-details {
	border-bottom: 2px solid $light-blue;
	color: $light-blue;
	@include font-size(21);
	margin-top: 0;
	padding-bottom: 1rem;
}



	