.content-section {
	background-color: #243842;
	background-color: $blue-dark;
	padding: 50px;
	margin-bottom: 100px;
	max-width: 100%;

}

.content-title {
	color: $light-blue;
	margin-bottom: 20px;
}

.content-column-course {
	@include font-size(14);
	list-style: none;
	text-align: left;
	color: $white;
	vertical-align: top;
	@media (min-width: 720px) {
		display: inline-block;
		width: 45%;
		&:nth-child(2n+1) {
        margin-right: 5%;
    	}
    	&:last-child {
        margin-right: 0%;
    	}
	}
	@media (min-width: 980px) {
		display: inline-block;
		width: 30%;
		margin-right: 4%;
		&:nth-child(3n) {
        margin-right: 0;
    	}
    	&:last-child {
        margin-right: 0%;
    	}
	}

	.curse-content-list {
		padding-left: 20px;
	}

	.curse-content-item {
		line-height: 27px;
		list-style-type:disc;
	}
}



.details-subsection {
	overflow: hidden;
	padding: 0 2%;
	margin: 0 auto;
	margin-bottom: 50px;
	@media (min-width: 540px) {
		width: 80%;
	}
	@media (min-width: 840px) {
		padding: 0 10%;
		width: 80%;
	}
	@media (min-width: 920px) {
		float: left;
		width: 430px;
		padding: 0;
		position: relative;
		&:nth-child(2n) {
			float: right;
	        margin-right: 0;
	    }
	}
}

.info-details {
	width: 80%;
	margin-left: 30px;
	@media (min-width: 920px) {
		display: inline-block;
		width: 370px;
	}
	.title-details {
		color: $light-blue;
		border-bottom: 2px solid $light-blue;
		@include font-size(21);
		max-height: 37px;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}

	.information-item {
		@include font-size(13);
		margin: 10px 0 0 0px;

	}
	.subtitle-title-details {
		display: block;
		margin: 20px 0 10px 0px;
		font-weight: bold;
		@include font-size(16);
	}

	

	.subtitle-details {
		@include font-size(14);
		color: $grey-dark;
		font-weight: bold;
	}

	.orange-color {
		color: $orange;
	}

	a{
		color: $grey;
	}
}




