.short-news{
	overflow: hidden;
	display: inline-block;
	margin: 10px;
	background-color: #efeded;
	width: 45%;
}

.short-news {
	img{
		width: 100%;
	}
}

.information-preview{
	width: 100%;
	padding: 15px;
	padding-bottom: 4rem;
}

.tittle-preview {
	color: $grey;
	@include font-size(24);

}

.date-preview {
	@include font-size(14);
	font-family: $open-sans;
}

.information-preview p{
	margin: 16px 0;
	color: $grey;
}

.populars{
	color: $grey;
	background-color: $grey-light;
	margin-top: 10px;
	width: 30%;
	float: right;
}

.populars a{
	color: #000; 
}

.popular-new{
	border-bottom: 3px solid $white;
	padding: 10px 20px 50px;
	width: 100%;
}

.tittle-populars {
	background-color: $grey-light;
	border-bottom: 3px solid $white;
	color: $grey;
	@include font-size(24);
	padding: 20px;
}
.sub-tittle-populars{
	color: $grey;
	@include font-size(18);
	padding: 0px; 
	border:none;
	margin: 0;
	padding: 0;
}

.more-preview{
	color: #ff8f00;
	@include font-size(14);
	font-weight: bold;
    padding: 4px;
    float: left;
    margin-top: 6px;
}

.search-aside {
	position: relative;
	overflow: hidden;
	border-bottom: 3px solid $white;
}
.new-search{
	border: 3px solid $grey-light;
	width: 80%;
	float: left;
	height: 45px;
	padding-left: 10px;
	font-size: 20px;
}
.noticia-submit {
	background-image: url(../img/search.png);
	background-position: 50% center;
	background-repeat: no-repeat;
	border: 3px solid $grey-light;
	background-color:  $grey-light;
	width: 20%;
	float: right;
	height: 45px;
	font-size: 20px;
}

.new{
	width: 62%;
	float: left;
	margin: 10px;
}

.new {
	img{
		width: 100%;
	}
}

.many-news{
	width: 65%;
	float: left;
}
.information-main {
	padding-left: 0;
	padding-right: 0;
	p{
		width: 100%;
	}
}
.title-main {
 @include font-size(32);
}










