.news-section-main-first {
	background-color: $grey-light;
}

.news-size {
	position: relative;
}

.many-news-first {
	float: left;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 0 20px;
	width: 68%;

	p {
		@include font-size(13);
		margin-bottom: 16px;

	}
}

.news-preview {
box-shadow: 0px 0px 13px $box-shadow;
	float: left;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
	width: 48%;

	&:nth-child(2n){
		float: right;
	}
}

.image-new-preview {
	display: block;
	position: absolute;
	width: 100%;
	z-index: 10;
}

.information-new-preview {
	background-color: $white;
	height: 27rem;
	margin-top: 18rem;
	padding: 4rem;
	position: relative;
	z-index: 20;
}

.triangle-news {
	border-color: transparent transparent $white transparent;
	border-style: solid;
	border-width: 0 15px 15px 15px;
	height: 0;
	position: absolute;
	top: -15px;
	width: 0;
}

.tittle-new-preview {
	margin-bottom: 5px;
}
.border-new {
	border-bottom: 1px solid $grey-light;
	display: block;
	margin: 16px 0 25px;
	width: 100%;
}

.date-new-preview {
	@include font-size(12);
	display: block;
	margin-bottom: 12px;
}

.icon-arrow{
  margin-right: 5px;
	width: 9px;
	
    &:hover{
		margin-right: 3px;
    }
}

.new-first {
	background-color: $white;
	box-shadow: 0px 0px 13px $box-shadow;
	overflow: hidden;
	width: 67%;

	p {
		@include font-size(14);
		line-height: 30px;
		margin-bottom: 32px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.image-new {
	width: 100%;
}

.information-main {
	padding: 80px;
}

.title-main {
	margin-bottom: 16px;
	padding-bottom: 5px;

}
.date-main {
	@include font-size(14);
	border-bottom: 1px solid $grey-light;
	display: block;
	margin-bottom: 16px;
	padding-bottom: 35px;
}


