.course-preview-module {
	margin-bottom: 50px;
	overflow: hidden;
	position: relative;
	text-align: left;
	vertical-align: top;

	@media (min-width: 480px) {
		margin: 50px 10%;
	}

	@media (min-width: 600px) {
		display: inline-block;
		margin: 0 auto;
		margin-bottom: 50px;
		width: 45%;

		&:nth-child(2n+1) {
	       float: right;
	    }
	    &:last-child {
	    	margin-right: 0;
	    }
	}

	@media (min-width: 980px) {
		display: inline-block;
		width: 43%;

		&:nth-child(3n) {
	    margin-right: 0;
	  }
	  &:last-child {
	    margin-right: 0;
	  }
	}
}

.image-preview-module {
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	width: inherit;
	z-index: -1;
}

.course-preview-module {
	&:hover {
		.overlay-square {
			opacity: 1;
			-webkit-transition: 1s;
		}
	}
}

.link-preview-module {
	overflow: hidden;
}

.info-preview-module {
	color: $white;
	height: 250px;
	margin-left: 50%;
	overflow: hidden;
	padding: 30px 20px;
	position: relative;
	width: 50%;
	z-index: 34;
}

.overlay-square {
	-webkit-transition: 1s;
	background-color: $light-blue;
	bottom: 0;
	content: "";
	opacity: 0.85;
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
}

.title-preview-module {
	margin-bottom: 20px;
}

.bottom-line {
	border-bottom: 2px solid $light-blue;
	color: $light-blue;
	display: block;
	width: 42%;
}

.subtitle-preview-module {
	margin: 16px 0 0.50px;
}

.date-preview-module {
	@include font-size(12);
	display: block;
	font-family: $open-sans;
	font-weight: bold;
	margin: 5px 0 1.50px;
}

.price-preview-module {
	@include font-size(16);
	background-color: $white;
	bottom: 30px;
	color: $light-blue;
	display: block;
	font-family: $open-sans;
	font-weight: bold;
	left: 30px;
	margin-top: 0.50px;
	padding: 3px 7px;
	position: absolute;
}

.border-square {
	border-radius: 12px;
}


