.graduate-info{
	width: 100%;
	overflow: hidden;
}

.contact-info{
	overflow: hidden;
	width: 30%;
	float: left;
	width: 30%;
}
.personal-info{
	overflow: hidden;
	padding: 16px;
	margin-left: 31px;
}
.text-aside-profile-info {
	margin: 1.5rem 0;
}
.social-aside-profile-info {
	display: inline-block;
	margin: 1.5rem 1rem 0 0;
}
.list-aside-profile-info {
	color: $grey;
	list-style: none;
}
.img-profile{
	border-radius: 100%;
	width: 280px;
	border: solid 1px #eee;
  box-shadow: 0px 6px 7px -2px $grey;
  margin-left: 8px;
}

.subtitle-detailed-information {
	@include font-size(24);
	color: $grey-dark;
}
.personal-info ul li span{
	font-weight: 600;
	color: $grey-dark;
}

.personal-info .sub-tittle{
	margin-bottom: 5px;
	color: $grey-dark;
}

.info-detailed{
	float: right;
	padding: 0 4rem;
	width: 68%;
	height: 566px;
	border-left: 1px solid $grey-light;
}
.info-detailed {
	p {
		margin: 0.5rem 0 2rem 0;
		color: $grey;
	}
}
.profession {
	font-family: $montserrat;
	@include font-size(16);
	font-weight: 100;
	margin-bottom: 2rem;
	display: block;
	color: $grey;
}
.content-detailed-tags {
	margin-bottom: 2rem;
	margin-top: 15px;
}
.info-detailed-tag {
	font-size: 12px;
	font-family: $open-sans;
	font-weight: 700;
	padding: 1rem 2rem;
	color: $grey;
	display: inline-block;
	margin-bottom: 5px;
	border-radius: 13px;
	border:1px solid $grey;
}

.rrss-graduate span{
	margin: 10px 5px;
}

.skills-profile{
	margin-bottom: 2rem;
	padding-left: 2rem;
}

.skills-profile li{
	line-height: 2.7rem
}

.info-container{
	margin-left: 34px;
}
//-------------------------First-Proposal------------------
.container-profiles{
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
	.profiles-graduate{
		background-color: $grey-light;
	}
	.info-contact{
		background-color: $white;
		box-shadow: 0 0 13px $box-shadow;
		border-radius: 3px;
		overflow: hidden;
		float: left;
		width: 28%;
		position: relative;
		z-index: 20;
		p{
  		@include font-size(14);
			font-family: $open-sans;
			margin-top: 15px;
    	margin-bottom: 15px;
    	line-height: 2.2rem;
		}
	}
	.profile-img{
    height: 275px;
    width: 285px;
  }
  .info-name{
  	@include font-size(25);
  	font-family: $montserrat;
  	margin-bottom: 4px;
    color: $grey-dark;
  }
  .info-profession{
  	@include font-size(15);
  	padding-right: 68px;
    color: $grey-dark;
    font-weight: bold;
  }
  .info-personal{
  	color: $grey;
  	padding: 10px 27px;
    margin-left: 5px;
    svg{
  		vertical-align: top;
  		margin-right: 30px;
  		&:hover{
				border-bottom: none;
			}
  	}
  	img{
	  	margin-right: 10px;
	    top: 4px;
	    position: relative;
  	}
  	.circle{
  		float: left;
  	}
  	.icon{
  		width: 18%;
  	}
  	.icon-social-facebook {
			fill: $grey;
			height: 40px;
			&:hover{
			  cursor: pointer;
			  fill: #4966a7; 
			}
		}
		.icon-social-twitter{
			fill: $grey;
			height: 40px;
			&:hover{
			  cursor: pointer;
			  fill: #17b3e8; 
			}
		}
		.icon-social-vimeo {
			fill: $grey;
			height: 40px;
			&:hover{
			  cursor: pointer;
			  fill: #17b3e8; 
			}
		}
  	.info-personal-availabily{
  		@include font-size(14);
  		font-family: $open-sans;
  		color: $grey-dark;
  	}
  }
  .details-graduate{
  	float: right;
  	width: 65%;
  	p{
  		@include font-size(14);
  		font-family: $open-sans;
  		color: $grey;
  		margin-top: 12px;
  	}
  }
  .details-graduate-container{
  	background-color: $white;
  	padding: 25px;
  	margin-bottom: 15px;
  	box-shadow: 0 0 13px $box-shadow;
  	border-radius: 3px;
  	p{
  		line-height: 2.2rem;
  	}
  }
  .detail-graduate-title{
  	@include font-size(20);
  	font-family: $montserrat;
  	color: $grey-dark;
  	margin-top: 16px;
  	margin-bottom: 15px;
  	&:nth-child(1){
			margin-top: 0;
  	}
  }
  .detail-graduate-list-items{
  	@include font-size(14);
  	list-style: none;
  	color: $grey;
  	border:1px solid $grey;
  	width: 30%;
    margin: 3px;
    display: inline-block;
    vertical-align: top;
    padding: 4px;
    text-align: center;
    border-radius: 3px;
  }
}
.triangle-graduate{
  width: 0;
	height: 0;
	border-style: solid;
  border-width: 18.5px 25px 18.5px 0;
	border-color: transparent $white transparent transparent;
  position: absolute;
  left: 147px;
  top: 55px;
}

		







