.graduate-info{
	width: 100%;
	overflow: hidden;
}

.contact-info{
	overflow: hidden;
	width: 30%;
	float: left;
	width: 30%;
}

.personal-info{
	overflow: hidden;
}

.text-aside-profile-info {
	margin: 1.5rem 0;
	padding-left: 2rem;
}

.social-aside-profile-info {
	display: inline-block;
	margin: 1.5rem 0.7rem;
}
.list-aside-profile-info {
 color: $grey;
}

.img-profile{
	border-radius: 100%;
	width: 280px;
	padding: 10px;
	display: table;
	margin: 0 auto;
	border: solid 1px #eee;
    box-shadow: 0px 6px 7px -2px #999;
}

.subtitle-detailed-information {
	@include font-size(24);
}
.personal-info ul li span{
	font-weight: 600;
}

.personal-info .sub-tittle{
	margin-bottom: 5px;
}

.info-detailed{
	float: right;
	padding: 4rem;
	width: 65%;
	background-color: #efeded;
}

.info-detailed {
	p {
		margin: 0.5rem 0 2rem 0;
	}
}

.profession {
	font-family: $open-sans;
	@include font-size(16);
	font-weight: 100;
	margin-bottom: 2rem;
	display: block;
	color: #000;
}


.content-detailed-tags {
	margin-bottom: 2rem;
	margin-top: 15px;
}
.info-detailed-tag {
	background-color: #575757;
	font-size: 12px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	padding: 1rem 2rem;
	color: white;
	display: inline-block;
	margin-bottom: 5px;
	border-radius: 30px;
}

.rrss-graduate span{
	margin: 10px 5px;
}

.skills-profile{
	margin-bottom: 2rem;
	padding-left: 2rem;
}

.skills-profile li{
	line-height: 2.7rem
}

    





		







