.container-egresado{
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	.container-sidebar{
		float: left;
		display: inline-block;
		background-color: $white;
		box-shadow: 0 0 13px $box-shadow;
		padding: 48px;
    width: 28%;
    color: $grey-dark;
		input{
			display: list-item;
			float: left;
			margin-right: 6px;
			width: 20px;
			height: 20px;
		}
		p{
			@include font-size(14);
			color: $grey;
			margin-bottom: 11px;
		}
	}
	.content-career{
	  border-bottom: 1px solid $grey-light;
	  padding-bottom: 15px;
	}
	.content-availabity{
		margin-top: 20px;
	  border-bottom: 1px solid $grey-light;
	  padding-bottom: 15px;
	}
	.content-generation{
		margin-top: 20px;
	}
	.sidebar-title{
		@include font-size(20);
		font-family: $montserrat;
		margin-bottom: 12px;
	}
}



