.populars {
	background-color: $white;
	box-shadow: 0px 0px 13px $box-shadow;
	float: right;
	padding:20px 20px;
	width: 27%;
}

.tittle-populars {
	color: $grey;
	overflow: hidden;
	position: relative;
	padding: 10px 20px 10px;
}

.popular-new {
	border-bottom: 1px solid $grey-light;
	color: $grey-dark;
	display: block;
	padding: 20px;
	position: relative;
	overflow: hidden;

	&:last-child {
		border: none;
	}
}

.sub-tittle-populars {
	margin-bottom: 7px;
}

.date-preview {
	@include font-size(12);
	display: block;
	margin-bottom: 10px;
}

.read-more {
	@include font-size(14);
	color: $orange;
	padding-bottom: 1px;
}

.populars2 {
	background-color: $white;
	box-shadow: none;
	float: right;
	padding:0  20px;
	width: 30%;

	.tittle-populars {
		@include font-size(24);
		color: $grey-dark;
		overflow: hidden;
		padding: 0 0 10px;
		position: relative;
		text-align: center;

		&:before {
			background-color: #A8A2A2;
			content: '\a0';
			height: 1px;
			left: 0;
			position: absolute;
			top: 43%;
			width: 13%;
		}
		
		&:after {
			background-color: #A8A2A2;
			content: '\a0';
			height: 1px;
			overflow: hidden;
			position: absolute;
			right: 0;
			top: 43%;
			width: 13%;
		}
	}
}
