.filters{
	color: #575757;
    border-radius: 20px;
	color: $grey;
	background-color: $grey-light;
	float: left;
	width: 30%;
	display: block;
	form{
		display: block;
		margin-bottom: 3.5rem;
	}

	form p{
		margin: 10px 0;
	}

	input{
		background-color: $grey-light;
		width: 20px;
		height: 20px;
		margin-left: 2rem;
		float: left;
	}

	label{
		display: inline-block;
		margin: 0;
		margin-left: 1rem;
		vertical-align: top;
	}
}

.sub-tittle{
    padding: 20px 20px 0;
	color: $grey;
	@include font-size(22);
	font-family: $montserrat;
}
.actual-tag-filter {
	padding-left: 70px;
	margin-bottom: 2rem;
}
.tag-filter{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    margin-right: 10px;
}





