.populars {
	width: 27%;
	float: right;
	background-color: $white;
	padding:20px 20px;
	box-shadow: 0px 0px 13px $box-shadow;
}

.tittle-populars {

	color: $grey;
	@include font-size(22);
	overflow: hidden;
	position: relative;
	padding: 10px 20px 10px;
}

.popular-new {
	border-bottom: 1px solid $grey-light;
	display: block;
	padding: 20px;
	color: $grey-dark;
	position: relative;
	overflow: hidden;
	&:last-child {
		border: none;
	}
}

.sub-tittle-populars {
	@include font-size(16);
	margin-bottom: 7px;
}

.date-preview {
	display: block;
	@include font-size(12);
	margin-bottom: 10px;
}

.more-preview {
	color: $orange;
	@include font-size(14);
	padding-bottom: 1px;
}

.populars2 {
	box-shadow: none;
	width: 30%;
	float: right;
	background-color: $white;
	padding:0  20px;

	.tittle-populars {
		color: $grey-dark;
		@include font-size(24);
		overflow: hidden;
		position: relative;
		padding: 0 0 10px;
		text-align: center;
	}

	.tittle-populars:before {
	    position: absolute;
	    top: 43%;
		left: 0;
	    width: 13%;
	    height: 1px;
	    content: '\a0';
	    background-color: #A8A2A2;
	}
	.tittle-populars:after {
		position: absolute;
	    top: 43%;
	    overflow: hidden;
	    right: 0;
	    width: 13%;
	    height: 1px;
	    content: '\a0';
	    background-color: #A8A2A2;
	}
}
