.section-skills {
  background-color: #243842;
	width: 100%;
	margin: 0;
	
	&:after {
		background-image: url(../img/animacion-back.png);
		bottom: 0;
		content: "";
		height: 100%;
		left: 0;
		opacity: .5;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}
}

.text{
	p{
		color: $white;
	}
}

.title-skills{
	@include font-size(28);
	color: $light-blue;
	margin-top: 33px;
}

.content {
	position: relative;
	z-index: 1;
}

.content-line-grid{
	clear: both;
  padding-top: 50px;
}

.line-grid {
	display: inline-block;
	width: 45%;
}