.container-testimonials-post {
	background-color: $post-color;
	.testimonials-list-items{
		img{
		  border: 6px solid $post-color;
		}
		&:nth-of-type(2n){
		 background-color: $post-color;
		}
	}
	.triangle {
		border-color: transparent $post-color transparent transparent;
	}
}
.container-testimonials-animacion {
	background-color: $animacion-color;
	.testimonials-list-items{
		img{
		  border: 6px solid $animacion-color;
		}
		&:nth-of-type(2n){
			background-color: $animacion-color;
		}
	}
	.triangle {
		border-color: transparent $animacion-color transparent transparent;
	}
}
.container-testimonials-ddw {
	background-color: $ddw-color;
	.testimonials-list-items{
		img{
			border: 6px solid $ddw-color;
		}
		&:nth-of-type(2n){
			background-color: $ddw-color;
		}
	}
	.triangle {
		border-color: transparent $ddw-color transparent transparent;
	}	
}
.container-testimonials{
	margin: 2rem auto;
	max-width: 1000px;
	padding: 2rem;
	overflow: hidden;
	@media(min-width: 740px){
	background-color: transparent;
	}
	.testimonials-list-items{
		list-style: none;
		position: relative;
		text-align: center;
		margin-bottom: 2rem;
		@media(min-width: 480px){
			text-align: left;
			float: left;
			vertical-align: top;
			margin-bottom: 0;
		}
		img{
			border-radius: 50%;
		    overflow: hidden;
		    width: 14rem;
		    height: 14rem;
		}
		&:nth-of-type(2n){
			color: $white;
			margin-bottom: 0rem;
			@media(min-width: 480px){
				float: right;
				width: 62%;
			}
			@media(min-width: 620px){
				padding:2rem 5%;
				padding: 0;
				float: right;
				width: 70%;
			}
			@media(min-width: 740px){
				padding:2rem 5%;
				min-height: 15rem;
				width: 76%;
			}
			@media(min-width: 980px){
				padding: 2rem 4%;
				width: 80%;
			}
		}
		.testimonials-list-items-title{
			@include font-size(20);
			font-family: $hind;
	    	border-bottom: 1px solid;
	    	width: 97%;
	    	margin-top: 0;
	    	margin-bottom: 1.5rem;
		}
		p {
			@include font-size(16);
			font-family: $open-sans;
		}
	}
}

.triangle {
	display: none;
	@media(min-width: 740px){
		border-style: solid;
		border-width: 25px 25px 25px 0;
		border-color: transparent $ddw-color transparent transparent;
		display: block;
		height: 0;
		left: -15px;
		position: absolute;
		top: 0;
		width: 0;
	}
}

