
.testimonial{
	display: inline-block;
	height: 110px;
	width: 45%;
	margin: 40px 9% 40px 0;
	position: relative;
	&:nth-child(2n) {
		margin-right: 0;
	}
}

.testimonial-img{
	position: absolute;
	top: 50%;
	left: 0;
	margin: -45px 0%;
	width:20%;
	border-radius:50%;
	
}

.testimonial-contenido{
	color: $grey;
	float: right;
	width: 75%;
	overflow: hidden;
	p {
		padding-top: 1rem;
		@include font-size(12);
		font-style: italic;
		font-family: $open-sans;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid $grey-light;
	}
}

.personal-info-testimonial {
	float: right;
	margin-right: 5px;
	text-align: right;
	h3 {
		color: $grey-dark;
		margin-bottom: 3px;
	}
}



