.testimonial-center{
	margin-left: 10%;
}
.container-testimonials-post {
	.testimonials-list-items{
		&:first-child{
		 background-color: $post-color;
		}
	}
	.triangle {
		border-color: $post-color transparent transparent transparent;
	}
}
.container-testimonials-animacion {
	.testimonials-list-items{
		&:first-child{
			background-color: $animacion-color;
		}
	}
	.triangle {
		border-color: $animacion-color transparent transparent transparent;
	}
}
.container-testimonials-ddw {
	.testimonials-list-items{
		&:first-child{
			background-color: $ddw-color;
		}
	}
	.triangle {
		border-color: $ddw-color transparent transparent transparent;
	}	
}
.container-testimonials{
	margin:0 1rem;
	max-width: 1000px;
	overflow: hidden;
	.testimonials-list-items{
		list-style: none;
		text-align: center;
		margin-bottom: 2rem;
		@media(min-width: 480px){
			vertical-align: top;
			margin-bottom: -5px;
		}
		img{
		    overflow: hidden;
		    width: 19.5%;
			float: left;
		}
		.testimonials-list-container{
			padding: 2rem 5% 0 26%;
		}
		.testimonial-profession{
			float: right;
			margin: 0 10px;
			color: white;
			font-size: 13px;
			border-bottom: solid 1px;
		}
		&:first-child{
			color: $white;
			margin-bottom: 0rem;
			@media(min-width: 480px){
				width: 62%;
			}
			@media(min-width: 620px){
				padding: 0;
				width: 70%;
			}
			@media(min-width: 740px){
				min-height: 15rem;
				float: right;
				width: 83.6%;
			}
			@media(min-width: 980px){
				width: 85%;
				margin-bottom: 20px;
			}
		}
		.testimonials-list-items-title{
			@include font-size(20);
			font-family: $montserrat;
	    	border-bottom: 1px solid;
	    	width: 97%;
	    	margin-top: 0;
	    	padding-bottom: 1rem;
		}
		p {
			padding-top: 1rem;
			@include font-size(16);
			font-family: $open-sans;
		}
	}
}

.triangle {
	display: none;
	@media(min-width: 740px){
		border-style: solid;
		border-width: 15px 10px 0px 10px;
		border-color: $ddw-color transparent transparent transparent;
		display: block;
		height: 0;
		left: 80px;
		position: relative;
		bottom: -35px;
		width: 0;
	}
}


/*
**Segunda propuesta de los testimonios**
*/


.container-testimonials-post-two {
	h3{
		color: $post-color;
	}
	.profession-two {
		color: $post-color;
	}
}
.container-testimonials-animacion-two {
	h3{
		color: $animacion-color;
	}
	.profession-two {
		color: $animacion-color;
	}
}
.container-testimonials-ddw-two {
	h3{
		color: $ddw-color;
	}

	.profession-two {
		color: $ddw-color;
	}	
}
.container-testimonials-two{
	background-color: $white;
	box-shadow: 0px 0px 13px #c2bebe;
	margin:0 1rem;
	max-width: 1000px;
	overflow: hidden;
	width: 20%;
	display: inline-block;
	@media(min-width: 740px){
	}
	.testimonials-list-items-two{
		list-style: none;
		text-align: center;
		margin-bottom: 2rem;
		@media(min-width: 480px){
			vertical-align: top;
			margin-bottom: -5px;
		}
		img{
		    overflow: hidden;
		    width: 100%;
			margin-bottom: 5px;
		}
		&:nth-child(2){
			color: #000;
			margin-bottom: 0rem;
			@media(min-width: 480px){
				width: 62%;
			}
			@media(min-width: 620px){
				padding:2rem 5%;
				padding: 0;
				width: 70%;
			}
			@media(min-width: 740px){
				padding:2rem 5%;
				min-height: 15rem;
				width: 100%;
			}
			@media(min-width: 980px){
				padding: 2rem 4%;
				width: 100%;
				margin-bottom: 20px;
			}
		}
		.testimonials-list-items-title-two{
			@include font-size(20);
			font-family: $montserrat;
	    	border-bottom: 1px solid;
	    	width: 97%;
	    	margin-top: 0;
	    	padding-bottom: 1rem;
		}
		p {
			padding-top: 1rem;
			@include font-size(16);
			font-family: $open-sans;
		}
	}
}

.profession-two{
	font-size: 13px;
	margin-top: 10px;
}

.second-testimonial-list{
	background-color: #ececec;
}